.new-post-window {
  padding: 20px;
  text-align: right;

  svg {
    &:hover {
      cursor: pointer;
    }
  }

  input[type="text"] {
    display: block;
    width: 50%;
    outline: none;
  }

  a:hover {
    cursor: pointer;
  }
}